*.csv filter=lfs diff=lfs merge=lfs -text
*. filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
FinalWholeModel filter=lfs diff=lfs merge=lfs -text
FilteredWholeModel filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
data/**/* filter=lfs diff=lfs merge=lfs -text
data/Sara/FINAL-WHOLE/FinalWholeModel, filter=lfs diff=lfs merge=lfs -text
data/Sara/Filtered/FilteredWholeModel filter=lfs diff=lfs merge=lfs -text
